<div class="uk-container uk-container-center">
    <div class="uk-grid title-row">
        <div class="uk-width-1-1 uk-text-center">
            <h1 class="top-navi">Aloha Instant Messenger</h1>
            <a class="navlink" href="/logout">Log Out</a>
        </div>
    </div>
    <div class="uk-grid main-content uk-margin-remove-top">
        <div class="uk-width-1-4 side-panel">
            <div class="uk-grid user-row">
                <div class="uk-width-1-1 user-content">
                    <img src="" alt="avatar" class="uk-border-circle avatar userAvatar">
                    <span class="currentUsername"></span>
                </div>
            </div>
            <div class="uk-grid search-bar uk-margin-remove-top">
                <div class="uk-inline uk-width-5-6 uk-padding-remove-left uk-margin-top">
                    <select id="selectedUser" class="js-example-theme-single" style="width: 100%" name="user">
                        <option value="">Select a User to Message</option>
                        {{#each users.users}}
                            {{> blocks/user }}
                        {{/each}}
                    </select>
                </div>
                <div class="uk-width-1-6 uk-padding-remove-left uk-position-relative">
                    <a id="plusIcon" class="uk-form-icon uk-icon-secondary uk-form-icon-flip plus-icon" href="#" uk-icon="icon: plus; ratio: 2"></a>
                </div>
            </div>
            <div class="uk-grid active-conversations uk-margin-remove-top">
                <div class="uk-list-striped" id="conversationList">
                    {{#each conversations.conversations}}
                        {{> blocks/conversations }}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="uk-width-3-4 main-panel">
            <div class="uk-grid main-title-row">
                <div class="uk-width-1-1 uk-text-center active-chat-title">
                    <span>Chatting Window</span>
                </div>
            </div>
            <div class="message-panel" id="chat">
                {{#each messages.messages}}
                    {{> blocks/chat }}
                {{/each}}
            </div>
            <form class="uk-grid input-div" id="messageForm">
                <div class="input-area uk-width-3-4">
                    <textarea class="uk-textarea" id="message">Type your message here...</textarea>
                </div>
                <div class="input-area uk-width-1-4">
                    <button class="uk-button-secondary sendButton" id="messageSubmit" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script type="text/javascript" src="js/members.js"></script>  