<div class="uk-container uk-container-center">
    <div class="uk-grid title-row">
        <div class="uk-width-1-1 uk-text-center">
            <h1 class="top-navi">Aloha Instant Messenger</h1>
            <a class="navlink" href="/logout">Log Out</a>
        </div>
    </div>
    <div class="uk-grid main-content uk-margin-remove-top">
        <div class="uk-width-1-4 side-panel">
            <div class="uk-grid user-row">
                <div class="uk-width-1-1 user-content">
                    <img src="" alt="avatar" class="uk-border-circle avatar userAvatar">
                    <span class="currentUsername"></span>
                </div>
            </div>
            <div class="uk-grid search-bar uk-margin-remove-top">
                <div class="uk-inline">
                    <input class="uk-input" type="text" placeholder="Search for a User">
                    <a class="uk-form-icon uk-form-icon-flip search-icon" href="#" uk-icon="icon: search"></a>
                </div>
            </div>
            <div class="uk-grid active-conversations uk-margin-remove-top">
                <div class="uk-list-striped" id="conversationList">
                    {{#each fakeUsers}}
                        {{> blocks/conversations }}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="uk-width-3-4 main-panel">
            <div class="uk-grid main-title-row">
                <div class="uk-width-1-1 uk-text-center active-chat-title">
                    <span>Chatting with Conversation</span>
                </div>
            </div>
            <div class="message-panel" id="chat">
                {{#each fakeUsers}}
                    {{> blocks/chat }}
                {{/each}}
            </div>
            <form class="uk-grid input-div" id="messageForm">
                <div class="input-area uk-width-3-4">
                    <textarea class="uk-textarea" id="message">Type your message here...</textarea>
                </div>
                <div class="input-area uk-width-1-4">
                    <button class="uk-button-secondary sendButton" id="messageSubmit" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script type="text/javascript" src="js/members.js"></script>
<script>
        $(function(){
            var socket = io.connect();
            var $messageForm = $("#messageForm");
            var $message = $("#message");
            var $chat = $("#chat");
            

            $messageForm.submit(function(e){
                e.preventDefault();
                socket.emit("send message", $message.val());
                $message.val("");
            });
            socket.on("new message", function(data){
                var $messBubbLeft = $(`<div class='message received speech-bubble-left'><p> ${data.msg} </p></div>`);
                var $messBubbRight = $(`<div class='message sent speech-bubble-right'><p> ${data.msg} </p></div>`);
                $chat.append($messBubbLeft);
                $chat.append($messBubbRight);
            })
        })
    </script>   