<div class="uk-container uk-container-center">
    <div class="uk-grid title-row">
        <div class="uk-width-1-1 uk-text-center">
            <h1 class="top-navi">Aloha Instant Messenger</h1>
            <a class="navlink" href="/logout">Log Out</a>
        </div>
    </div>
    <div class="uk-grid main-content uk-margin-remove-top">
        <div class="uk-width-1-4 side-panel">
            <div class="uk-grid user-row">
                <div class="uk-width-1-1 user-content">
                    <img src="" alt="avatar" class="uk-border-circle avatar userAvatar">
                    <span class="currentUsername"></span>
                </div>
            </div>
            <div class="uk-grid search-bar uk-margin-remove-top">
                <div class="uk-inline uk-width-1-1 uk-padding-remove-left uk-margin-top">
                    <h4 class="selectUser">Select a user to message below</h4>
                </div>
            </div>
            <div class="uk-grid active-conversations uk-margin-remove-top">
                <div class="uk-list-striped" id="userList">
                    {{#each conversations.conversations}}
                        {{> blocks/conversations }}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="uk-width-3-4 main-panel">
            <div class="uk-grid main-title-row">
                <div class="uk-width-1-1 uk-text-center active-chat-title">
                    <span>Chatting Window</span>
                    <button class="uk-button uk-button-secondary uk-right" id="changeBg" >Change Background</button>
                </div>
                <div id="bgmodal" class="modal-overflow uk-modal">
                    <div class="uk-modal-dialog">
                        <div class="uk-modal-header">
                            <h2 class="uk-modal-title">Change Chat Background</h2>
                            <input class="uk-input uk-width-3-4" id="themeInput" name="theme">
                            <a id="searchIcon" class="search-icon" href="#" uk-icon="icon: search; ratio: 2.5"></a>
                        </div>
                        <div class="uk-modal-body uk-overflow-auto" id="bgOptions">
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-secondary uk-modal-close" type="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message-panel" id="chat">
                {{#each messages.messages}}
                    {{> blocks/chat }}
                {{/each}}
            </div>
            <form class="uk-grid input-div" id="messageForm">
                <div class="input-area uk-width-3-4">
                    <textarea class="uk-textarea" id="message">Type your message here...</textarea>
                </div>
                <div class="input-area uk-width-1-4">
                    <button class="uk-button-secondary sendButton" id="messageSubmit" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
    var socket = io.connect();
</script>
<script type="text/javascript" src="js/members.js"></script>  
<script type="text/javascript" src="js/users.js"></script>  
<script type="text/javascript" src="js/members.js"></script>
<script type="text/javascript" src="js/pexelAPI.js"></script>
<script type="text/javascript" src="js/conversations.js"></script>
