<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aloha Instant Messaging</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit-icons.min.js"></script>
</head>
<body>
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-text-center">
                <h1>Aloha Instant Messenger</h1>
            </div>
        </div>
        <div class="uk-grid">
            <div class="uk-width-1-4 uk-card uk-card-default ">
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <span>Avatar</span>
                        <span>Username</span>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <span>Search</span>
                        <input type="text">
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <span># of user online</span>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-1 uk-list">
                        <li>Delores</li>
                        <li>Ashley</li>
                        <li>Bob</li>
                        <li>Delores</li>
                        <li>Ashley</li>
                        <li>Bob</li>
                    </div>
                </div>
            </div>
            <div class="uk-width-3-4 uk-card uk-card-default">
                <div class="uk-grid">
                    <div class="uk-width-1-1 uk-text-center">
                        <h4>Chatting with Active User</h4>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-1 uk-card uk-card-default uk-card-body">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus rerum eius eveniet quod quibusdam sunt aliquam dolor fugit commodi nobis veritatis animi a aperiam rem vitae, sequi distinctio. Quisquam, atque.
                        Incidunt fugiat repellat alias quas non accusantium quos sunt molestias! Veniam ratione optio debitis quam totam assumenda ipsam voluptatem dolore aspernatur dicta iure, in, saepe dolor cum expedita adipisci accusantium.
                        Nisi porro, ad quasi odit vel beatae possimus culpa mollitia expedita esse nulla neque? Quaerat veritatis eveniet possimus deleniti. Dolorum nisi voluptates sint impedit alias officiis a delectus molestias in.
                        Illum quam sunt amet. Ad natus debitis corrupti iusto omnis quidem? Nisi tenetur totam eligendi repellat, ut quam similique ad qui quia in, rerum sunt tempore eos rem quis ipsam.
                        Eaque deleniti soluta quia tempora perferendis quas. Optio, cum dolorem nihil quam quisquam ipsam porro cumque eaque et quis repudiandae hic soluta. Debitis fugit inventore aut saepe dolore. Quas, atque.
                        Dignissimos voluptas rerum ab aspernatur modi error rem officiis neque quae velit, consequuntur dolor fugiat, aperiam excepturi atque quibusdam odit eveniet aut architecto. Cupiditate, natus totam quisquam distinctio hic accusantium!</p>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-1  uk-card-body">
                        <span>Type a message</span>
                        <textarea></textarea>
                        <button type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>