<a href="#" class="conversation-link">
    <div class="conversation-item">
        {{!-- <img class="uk-border-circle avatar" src="{{dataValues.avatarUrl}}"> --}}
        {{dataValues.name}}
    </div>
</a>