<div class="uk-grid">
    <div class="uk-width-1-4">
        <img src="{{avatarUrl}}" height="50px">
    </div>
    <div class="uk-width-3-4">
        <h4>{{username}}</h4>
        <p>{{email}}</p>
    </div>
</div>